%html
  %head
  %title Flexite
  = stylesheet_link_tag 'flexite/application', media: :all
  = javascript_include_tag 'flexite/application'
  = csrf_meta_tags
  %body
    #flash
      = render 'flexite/shared/messages'
    .container-fluid#main-container
      = yield
