= form_for :entry, url: new_entry_path, remote: true, method: 'GET' do |f|
  = f.hidden_field :parent_id, value: @config.id
  = f.hidden_field :parent_type, value: @config.class.name
  .form-inline
    = entry_type_select(f)
    = f.submit 'Add entry', class: 'btn btn-success'

#new-entry
