%h1 Listing entries

%table
  %tr
    %th Type
    %th Value
    %th
    %th
    %th

  - @entries.each do |entry|
    - present entry do |presenter|
      %tr
        %td= presenter.type
        %td= presenter.value
        %td= link_to 'Show', entry
        %td= link_to 'Edit', edit_entry_path(entry)
        %td= link_to 'Destroy', entry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Entry', new_entry_path
