%h1 Listing entries

%table.table.table-bordered
  %tr
    %th Type
    %th Value
    %th
    %th
    %th

  - @entries.each do |entry|
    - present entry do |presenter|
      %tr
        %td= presenter.type
        %td= presenter.value
        %td= link_to 'Show', entry, class: 'btn btn-success'
        %td= link_to 'Edit', edit_entry_path(entry), class: 'btn btn-warning'
        %td= button_to 'Destroy', entry, method: :delete, class: 'btn btn-danger', form: { style: 'display: inline;' }

%br

= link_to 'New Entry', new_entry_path, class: 'btn btn-default'
