.diffs
  - if diffs.present?
    - diffs.each do |type, differences|
      %button.btn.btn-default{ type: :button,
      data: { toggle: :collapse, target: "##{t("css.#{type}-diff")}" },
      aria: { expanded: 'false', controls: t("css.#{type}-diff") },
      class: "#{t("css.#{type}-diff")}-btn" }
        = t("labels.buttons.#{type}-diff")

      .collapse{ class: t("css.#{type}-diff"), id: t("css.#{type}-diff") }
        %ol
          - differences.each do |diff|
            - present diff do |diff_presenter|
              %li
                %pre
                  = diff_presenter.path
                  = diff_presenter.changes
  - else 
    .bg-success.text-center
      There is no difference between stages
