= simple_form_for @config_form, remote: true do |f|
  = f.input :id, as: :hidden
  = f.input :name, as: :string, input_html: { class: 'form-control', placeholder: 'Name' }, label: false
  = f.input :description, as: :string, input_html: { class: 'form-control', placeholder: 'Description' }, label: false
  = f.input :config_id, collection: Flexite::Config.not_selectable, label_method: :name, value_method: :id,
            input_html: { class: 'form-control', placeholder: 'Parent' }, label: false, prompt: 'Select parent'
  = f.input :selectable, as: :boolean, label: false, wrapper_html: { class: 'checkbox' }
  = f.button :submit, class: 'btn btn-success'

  - if @config_form.persisted?
    = link_to 'History', entity_histories_path(@config_form.id, @config_form.history_type), remote: true, class: 'btn btn-default'
